* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Rubik;
    color: #737579;
}
@font-face {
    font-family: Rubik;
    src: url('../fonts/Rubik-Regular.ttf');
}
@font-face {
    font-family: Rubik-Bold;
    src: url('../fonts/Rubik-Bold.ttf');
}
@mixin Rubik-User-Name {
    font-weight: 700;
}
body {
    background-color: #F5F6FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
main {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}
@mixin card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    .vote-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F5F6FA;
        width: 5%;
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: #5C58BB;
        font-weight: bold;
        
        height: 5rem;
        gap: 0.8rem;
        & button {
            border: 0;
        }
    }
    .card-main-section {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 1.5rem;
        gap: 0.5rem;
        .info-section {
            display: flex;
            justify-content: space-between;
            ul {
                display: flex;
                list-style: none;
                flex-wrap: wrap;
                gap: 1rem;
                align-items: center;
                &:last-child {
                    color: #7270AB;
                }
                .user-image {
                    width: 2rem;
                }
            }
        }
        .user-name {
            @include Rubik-User-Name;
            color: black;
        }
        #deleteBtn {
            color: #ED6368;
            display: none;
        }
    }

}
.comment-card {
    @include card;
}
.reply-card {
    @include card;
}
.replies-box {
    padding-left: 2rem;
    margin-left: 2.5rem;
    border-left: 0.2rem solid #E9EAEE;
}

.write-comment-card { //TODO
    @include card;
    
    justify-content: space-between;
    .current-user-image {
        width: 10%;
        img {
            width: 2.5rem;
        }
    }
    .comment-input-box {
        width: 70%;
        display: inline-block;
        textarea {
            height: 2rem;
            border: 1px solid #E9EAEE;
            border-radius: 0.2rem;
            width: 100%;
            height: 5rem;
        }

    }
    .comment-send-btn {
        width: 20%;
        text-align: center;
        button {
            width: 80%;
            background-color: #5358B6;
            color: white;
            border-radius: 0.5rem;
            border: 0;
            padding: 0.8rem;
        }
    }
}

@media screen and (max-width: 772px) {
    main {
        width: 100%;    
        padding: 1rem;
    }
    .replies-box {
        margin-left: 0;
    }
    .write-comment-card {
        flex-direction: row;
    }
    .comment-input-box {
        order: 1;
    }
}